.c-input-box{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #888358;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    text-align: left;
}
